<div class="container-fluid">
  <p id="notice"><%= notice %></p>


  <dl class="dl-horizontal">
    <dt>Firstname:</dt>
     <dd><%= @mycontact.first_name %></dd>



    <dt>Lastname:</dt>
    <dd><%= @mycontact.last_name %></dd>



    <dt>Emailbusiness:</dt>
    <dd><%= @mycontact.email_business %></dd>



    <dt>Emailpersonal:</dt>
    <dd><%= @mycontact.email_personal %></dd>
  </dl>
</div>

