<div class="container-fluid">
<h1 id="notice">
	<%= notice %>
	<p> PREMIUM MEMBERSHIP </p>
</h1>

	<ul>
		<li>
		  <strong>First Name:</strong>
		  <%= @mycontact.first_name %>
		</li>
		<li>
		  <strong>Last Name:</strong>
		  <%= @mycontact.last_name %>
		</li>

		<li>
		  <strong>Business Email:</strong>
		  <%= @mycontact.email_business %>
		</li>

		<li>
		  <strong>Personal Email:</strong>
		  <%= @mycontact.email_personal %>
		</li>
		<li>
		  <strong>Phone Number:</strong>
		  <%= @mycontact.phone_number %>
		</li>
		<li>
		  <strong>Phone Number (alt):</strong>
		  <%= @mycontact.phone_number_2 %>
		</li>
		<li>
		  <strong>Address:</strong>
		  <%= @mycontact.address %>
		</li>
		<li>
		  <strong>Address:</strong>
		  <%= @mycontact.address2 %>
		</li>
		<li>
		  <strong>City:</strong>
		  <%= @mycontact.city %>
		</li>
		<li>
		  <strong>State:</strong>
		  <%= @mycontact.state %>
		</li>
		<li>
		  <strong>Zip Code:</strong>
		  <%= @mycontact.zip %>
		</li>
	</ul>
<div>


