<div class="container-fluid">
	<div>
		<h3>Contact Info:</h3>
	<p id="notice">
		<%= notice %>
	</p>

		<dl class="dl-horizontal">

			  <dt>First Name:</dt>
			  <dd><%= @mycontact.first_name %></dd>


			  <dt>Last Name:</dt>
			  <dd><%= @mycontact.last_name %></dd>



			  <dt>Business Email:</dt>
			  <dd><%= @mycontact.email_business %></dd>



			  <dt>Personal Email:</dt>
			  <dd><%= @mycontact.email_personal %></dd>


			  <dt>Phone Number:</dt>
			  <dd><%= @mycontact.phone_number %></dd>


			  <dt>Phone Number (alt):</dt>
			  <dd><%= @mycontact.phone_number_2 %></dd>


			  <dt>Address:</dt>
			  <dd><%= @mycontact.address %></dd>


			  <dt>Address:</dt>
			  <dd><%= @mycontact.address2 %></dd>


			  <dt>City:</dt>
			  <dd><%= @mycontact.city %></dd>


			  <dt>State:</dt>
			  <dd><%= @mycontact.state %></dd>h


			  <dt>Zip Code:</dt>
			  <dd><%= @mycontact.zip %></dd>

		</dl>
		</div>

</div>


