<p id="notice"><%= notice %></p>
<p> PREMIUM MEMBERSHIP </p>
<p>
  <strong>Firstname:</strong>
  <%= @mycontact.first_name %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @mycontact.last_name %>
</p>

<p>
  <strong>Emailbusiness:</strong>
  <%= @mycontact.email_business %>
</p>

<p>
  <strong>Emailpersonal:</strong>
  <%= @mycontact.email_personal %>
</p>