<div class="container-fluid">
<h1>Contacts:</h1>

<table id="hor-minimalist-a" summary="MyContact List">
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email Business</th>
      <th scope="col">Email Personal</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @mycontacts.each do |mycontact| %>
      <tr>
        <td><%= mycontact.first_name %></td>
        <td><%= mycontact.last_name %></td>
        <td><%= mycontact.email_business %></td>
        <td><%= mycontact.email_personal %></td>
        <td><%= link_to 'Show', user_mycontact_path(@user, mycontact) %></td>
        <td><%= link_to 'Edit', edit_user_mycontact_path(@user, mycontact) %></td>
        <td><%= link_to 'Destroy', user_mycontact_path(@user, mycontact), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  
<br>
<p>
<%= link_to 'Add Contact', new_user_mycontact_path %>
</p>
</div>