<div class="container-fluid">
  <h1>All Files</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Filename</th>
        <th>Meeting</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @userfiles.each do |userfile| %>
        <tr>
          <td><%= userfile.filename %></td>

          <td><%= userfile.meeting.name %></td>
          <td><%= link_to 'Download', download_user_mycontact_meeting_userfile_path(@user, @mycontact, @meeting, userfile) %></td>
          <td><%= link_to 'Delete', user_mycontact_meeting_userfile_path(@user, @mycontact, @meeting, userfile), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>


  <% if @mycontact %>
    <%= link_to 'Attach File', new_user_mycontact_meeting_userfile_path(@user, @mycontact, @meeting) %>
  <% end %>
  </div>
