<p id="notice"><%= notice %></p>

<p>
  <strong>Filename:</strong>
  <%= @userfile.filename %>
</p>

<p>
  <strong>Meeting:</strong>
  <%= @userfile.meeting %>
</p>

<%= link_to 'Edit', edit_user_mycontact_meeting_userfiles_path(@userfile) %> |
<%= link_to 'Back', user_mycontact_meeting_userfiles_path %>
